section {
  height: 100px;
  line-height: 100px;
  background-color: cadetblue;
}

section:hover {
  cursor: pointer;
}

.centerText {
  text-align: center;
}

.disabled {
  background-color: lightcoral;
}

.disabled:hover {
  cursor: not-allowed;
}

.largerText {
  font-size: large;
}
