{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "myTypes.tsx",
      "options": {
        "semi": true
      }
    }
  ]
}