.pageFooter {
  border-top: 1px solid #00000014;
  padding-top: 15px;
  padding-bottom: 15px;
}

button.uploadSubjectData {
  background-color: var(--main-theme-blue);
  color: white;
}

button.resetAllData {
  color: var(--main-theme-blue);
  border-color: var(--main-theme-blue);
}

div.progressBar {
  height: 8px;
  background-color: #e3e5e8;
  border-radius: 17px;
  margin-top: 10px;
}

p.progressText {
  font-size: 0.8rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

button.newSubjectDataUpload {
  background-color: var(--main-theme-blue);
  color: white;
}

div.newUploadContainer {
  text-align: center;
}
