.inputPadding > div {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.dropzone {
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  background-color: white;
  border: 2px dashed #c0d5fc;
  box-sizing: border-box;
  margin-top: 5px;
  cursor: pointer;
}

.dropzoneTopText {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropzoneBottomText {
  margin-top: 0px;
  margin-bottom: 15px;
}

.icon {
  margin-bottom: 0px;
  color: var(--main-theme-blue);
  vertical-align: sub;
  font-size: 1.3rem;
}

.dropzoneLabel {
  font-size: 0.8rem;
  font-weight: 500;
}

.infoText {
  font-size: 0.8rem;
  font-weight: 500;
  color: #5b6779;
  margin-top: 5px;
  margin-bottom: 0px;
}

div.progressBar {
  height: 8px;
  background-color: #e3e5e8;
  border-radius: 17px;
  margin-top: 20px;
}

.anonInfo {
  margin-top: 10px;
}

button.dicomDiscard {
  margin-left: 10px;
  color: var(--main-theme-blue);
  border-color: var(--main-theme-blue);
  font-weight: 500;
  border-radius: 6px;
}
