.inputPadding > div {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.inputPadding > div:nth-last-child(2) {
  padding-bottom: 1rem;
}

.inputPadding > div:last-child {
  padding-bottom: 0px;
}

.dropzone {
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  background-color: white;
  border: 2px dashed #c0d5fc;
  box-sizing: border-box;
  margin-top: 5px;
  cursor: pointer;
}

.dropzoneText {
  margin-top: 10px;
}

.icon {
  margin-bottom: 0px;
}

.dropzoneLabel {
  font-size: 0.8rem;
  font-weight: 500;
}

.pdfOnly {
  font-size: 0.8rem;
  font-weight: 500;
  color: #5b6779;
  margin-top: 5px;
}

.themeBlue {
  color: var(--main-theme-blue);
}

.stepperStep {
  margin-bottom: 20px;
}

svg.helpIcon {
  height: 15px;
  opacity: 0.4;
}

.tooltip {
  width: 250px !important;
  font-size: 0.75em !important;
  background-color: black !important;
}

.gridContainer {
  margin-top: 20px;
}

.pdfInfo {
  font-weight: 400;
}
.pdfInfo svg {
  vertical-align: sub;
  font-size: 1.3rem;
}

.pdfFileName {
  margin-left: 5px;
}

button.pdfDiscardButton {
  margin-left: 10px;
  color: var(--main-theme-blue);
  border-color: var(--main-theme-blue);
  font-weight: 500;
  border-radius: 6px;
}

label.projectInputLabel {
  pointer-events: auto;
  background-color: white;
  left: -5px;
  padding-left: 10px;
  padding-right: 10px;
}
