.greyBackground {
  background-color: #e5e5e5;
}

.errorContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}
.error {
  height: 500px;
  margin-top: 25%;
}

.errorTitle {
  color: #083076;
}

.errorText {
  color: #083076;
}
