body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-theme-blue: #2e72f6;
}

.MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-active {
  color: var(--main-theme-blue);
}

label.MuiFormLabel-root.Mui-focused {
  color: var(--main-theme-blue);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused
  fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--main-theme-blue);
}

.MuiStepConnector-line.MuiStepConnector-lineVertical {
  min-height: auto;
}

div.MuiStepContent-root {
  border-left: 2px solid #00000014;
}

label.MuiInputLabel-outlined {
  color: black;
}
